@charset "utf-8";
.animated {
    animation-duration: 1s;
}

/* 아래에서 위로 */
.fadeInUp {
    animation-name: fadeInUp;
}
@keyframes fadeInUp {
    0% {opacity: 0;
        transform: translateY(20px)}
    100% {opacity: 1;
        transform: translateY(0)}
}

.delay-05s {
    animation-delay: 0.5s;
}
.delay-1s {
    animation-delay: 1s;
}

/* 숨기는 css 시작*/
.wp1, .wp2, .wp3, .wp4, .wp6, .wp7, .wp8 {
    visibility: hidden;
}
/*  숨기는 css 종료*/
.fadeInUp, .fadeInLeft, .fadeInOut {
    visibility: visible;
}
